<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=31.31.196.199;Initial Catalog=u0948304_employee;User ID=u0948304_testUser;Password=Password1"
             providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>